{% extends 'TM/base.html' %}

{% block title %}Создание проекта{% endblock %}

{% block content %}
    <div class="form-container">
        <form method='post'>
            {% csrf_token %}
            <h2>Редактировать проекта</h2>

            <div class="form-group">
                <div class="form-field">
                    <label for='{{ project_form.name.id_for_label }}'>{{ project_form.name.label }}</label>
                    {{ project_form.name }}
                    {% if project_form.name.errors %}
                        <div class="error-message">
                            {{ project_form.name.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ project_form.description.id_for_label }}'>{{ project_form.description.label }}</label>
                    {{ project_form.description }}
                    {% if project_form.description.errors %}
                        <div class="error-message">
                            {{ project_form.description.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ project_form.end_date.id_for_label }}'>{{ project_form.end_date.label }}</label>
                    {{ project_form.end_date }}
                    {% if project_form.end_date.errors %}
                        <div class="error-message">
                            {{ project_form.end_date.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <button type='submit' class="submit-button">Сохранить</button>
        </form>
    </div>
{% endblock %}