{% extends 'TM/base.html' %}

{% block title %}Создание подзадачи{% endblock %}

{% block content %}
    <div class="form-container">
        <form method='post'>
            {% csrf_token %}
            <h2>Редактировать подзадачу</h2>

            <div class="form-group">
                <div class="form-field">
                    <label for='{{ subtask_form.name_sub.id_for_label }}'>{{ subtask_form.name_sub.label }}</label>
                    {{ subtask_form.name_sub }}
                    {% if subtask_form.name_sub.errors %}
                        <div class="error-message">
                            {{ subtask_form.name_sub.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ subtask_form.description.id_for_label }}'>{{ subtask_form.description.label }}</label>
                    {{ subtask_form.description }}
                    {% if subtask_form.description.errors %}
                        <div class="error-message">
                            {{ subtask_form.description.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ subtask_form.status.id_for_label }}'>{{ subtask_form.status.label }}</label>
                    {{ subtask_form.status }}
                    {% if subtask_form.status.errors %}
                        <div class="error-message">
                            {{ subtask_form.status.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <button type='submit' class="submit-button">Сохранить</button>
        </form>
    </div>
{% endblock %}