{% extends 'TM/base.html' %}

{% block title %}Создание задачи{% endblock %}

{% block content %}
    <div class="form-container">
        <form method='post'>
            {% csrf_token %}
            <h2>Редактировать задачу</h2>

            <div class="form-group">
                <div class="form-field">
                    <label for='{{ task_form.name_task.id_for_label }}'>{{ task_form.name_task.label }}</label>
                    {{ task_form.name_task }}
                    {% if task_form.name_task.errors %}
                        <div class="error-message">
                            {{ task_form.name_task.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ task_form.description.id_for_label }}'>{{ task_form.description.label }}</label>
                    {{ task_form.description }}
                    {% if task_form.description.errors %}
                        <div class="error-message">
                            {{ task_form.description.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ task_form.priority.id_for_label }}'>{{ task_form.priority.label }}</label>
                    {{ task_form.priority }}
                    {% if task_form.priority.errors %}
                        <div class="error-message">
                            {{ task_form.priority.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ task_form.due_date.id_for_label }}'>{{ task_form.due_date.label }}</label>
                    {{ task_form.due_date }}
                    {% if task_form.due_date.errors %}
                        <div class="error-message">
                            {{ task_form.due_date.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <button type='submit' class="submit-button">Сохранить</button>
        </form>
    </div>
{% endblock %}