{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя по адресу {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите на эту страницу и введите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ваше имя пользователя (на случай, если вы его забыли)' %} {{ user.get_username }}

{% translate "Спасибо, что используете наш сайт!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}

