{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_works.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_edit_delete.css' %}">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
    {% block script  %}{% endblock  %}
    {% if request.user.is_authenticated %}
        <nav>
            <div div class="nav-container">
                <ul class="nav-left">
                    <li><a href = "{% url 'new_my_task' %}">Создать собственную задачу</a></li>
                    <li><a href = "{% url 'my_own_task' %}">Мои личные задачи</a></li>
                    <li><a href = "{% url 'calendar' %}">Календарь</a></li>
                    {% if request.user.is_staff %}
                        <li><a href = "{% url 'new_project' %}">Создать новый проект</a></li>  
                        <li><a href = "{% url 'my_project' %}">Мои проекты</a></li>                       
                    {% else %}
                        <li><a href = "{% url 'tasksIDo' %}">Задачи которыя я делаю для прокта (проектов)</a></li>
                    {% endif %}
                </ul>
                <div class="nav-right">
                    <span>Привет, {{ request.user.username }}!!!</span>
                    <a href = "{% url 'main_page' %}">На главную</a>
                    <a href = "{% url 'settings' %}">Настройки</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    {% else %}
        <p>Что бы зайти на эту страницу вам нужно ввойти в свой профиль</p>
        <a href="{% url 'login' %}">Вход в профиль</a>
    {% endif %}
</body>
</html>
