{% extends 'TM/base.html' %}

{% block title %}Document main{% endblock %}

{% block script %}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
{% endblock  %}

{% block content %}
    <style>
       .container {
            display: flex;            /* Используем Flexbox для расположения */
            justify-content: space-between; /* Распределяем элементы равномерно */
            width: 100%;             /* Ширина контейнера на всю ширину родителя */
            max-width: 1000px;      /* Максимальная ширина (по желанию) */
            margin: 0 auto;         /* Центруем контейнер по горизонтали */
        }

        .color-info {
            flex: 1;                 /* Делаем элементы гибкими */
            text-align: center;      /* Центрируем текст внутри каждого элемента */
        }

        .task-color{
            color: blue;
        }

        .project-color {
            color: green;
        }

        .my-task-color {
            color: red;
        }
    </style>
    <div id='calendar'></div>

    <div class="container">
        {% if request.user.is_staff %}
            <p class="color-info project-color">Синий цвет - это проекты</p>
            <p class="color-info task-color">Зеленый цвет - это задачи</p>
            <p class="color-info my-task-color">Красный цвет - это мои задачи</p>
        {% else %}
            <p class="color-info task-color">Зеленый цвет - это рабочие задачи</p>
            <p class="color-info my-task-color">Красный цвет - это мои задачи</p>
        {% endif %}
    </div>

    <script>
        {% if request.user.is_staff %}
            $(document).ready(function() {
                var events = [];
                {% for project in projects %}
                    // Добавляем проект в массив событий
                    events.push({
                        title: '{{ project.name }}',
                        start: '{{ project.end_date|date:"Y-m-d" }}',
                        color: 'green' // Цвет для проектов
                    });
                    
                    // Добавляем задачи в массив событий
                    {% for task in project.tasks.all %}
                        events.push({ // Добавляем задачу
                            title: '{{ task.name_task }}: {{ task.executor }}/ {{ task.project }}',
                            start: '{{ task.due_date|date:"Y-m-d" }}',
                            color: 'blue' // Цвет для задач
                        });
                    {% endfor %}
                {% endfor %}

                {% for mytask in mytasks %}
                    events.push({
                        title: '{{ mytask.name_task }}:',
                        start: '{{ mytask.due_date|date:"Y-m-d" }}',
                        color: 'red'
                    });
                {% endfor %}

                // Инициализируем календарь
                $('#calendar').fullCalendar({
                    events: events,
                    firstDay: 1, // Устанавливаем понедельник как первый день недели
                });
            });
        {% else %}
            $(document).ready(function() {
                var events = [];
                {% for task in tasks %}
                    events.push({
                            title: '{{ task.name_task }}:',
                            start: '{{ task.due_date|date:"Y-m-d" }}',
                            color: 'blue'
                        });
                {% endfor %}

                {% for mytask in mytasks %}
                    events.push({
                        title: '{{ mytask.name_task }}:',
                        start: '{{ mytask.due_date|date:"Y-m-d" }}',
                        color: 'red'
                    });
                {% endfor %}
                
                $('#calendar').fullCalendar({
                    events: events,
                    firstDay: 1, // Устанавливаем понедельник как первый день недели
                });
            });
        {% endif %}
    </script>
{% endblock %}