{% extends 'TM/base.html' %}

{% block title %}Document main{% endblock %}

{% block script  %}<script>
    // Функция для прокрутки к низу области сообщений
    function scrollToBottom() {
        var chatMessages = document.querySelector('.chat-messages');
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }
    // Прокручиваем вниз при загрузке страницы
    window.onload = scrollToBottom;
</script>{% endblock  %}

{% block content %}
    <div class="main-container">
        <div class="projects-list">
            {% if projects %}              
                {% for project in projects %}  
                    <div>
                        <a href="{% url 'main_page' project.name %}">Проект {{ project.name }}</a>
                    </div> 
                {% endfor %}  
            {% else %}
                <p class="p">У вас нет проектов!!!</p>
            {% endif %}
        </div>

        <div class="chat-area">
            {% if project %}
                <div class="chat-header">
                    <p>Чат к проекту {{ project }}</p>
                </div>
                <div class="chat-messages">
                    {% if comments %}  
                        {% for comment in comments %}  
                            <div class="comment">
                                <div class="comment-author-and-date">
                                    {{ comment.author_comment }} ({{ comment.date_creation }})
                                </div>
                                <div class="comment-text">
                                    {{ comment.comment_text }}
                                </div>
                            </div> 
                        {% endfor %}  
                    {% else %}
                        <p>Пока у этого проекта нет обсуждений</p>
                    {% endif %}
                </div>
                <div class="form-block">
                    <form method='post' class="form-block-form">
                        {% csrf_token %}
                        {{ form.comment_text }}
                        {% if form.comment_text.errors %}
                            <div>
                                {{ form.comment_text.errors.as_text }}
                            </div>
                        {% endif %}
                        <button type='submit'>Отправить</button>
                    </form>
                </div>
            {% else %}
                <p>Для начала переписки выберете чат</p>
            {% endif %}
        </div>
    </div>
{% endblock %}