{% extends 'TM/base.html' %}

{% block title %}Document main{% endblock %}

{% block content %}
    {% if myproject %}                    
        {% for project in myproject %}  
            <div>
                <ul>
                    <li>
                        <h3>Название проекта {{ project }} </h3>
                        <h3>описание проекта {{ project.description }} </h3>
                        <h3>описание проекта {{ project.end_date }} </h3>
                    </li>
                    <a href = "{% url 'edit_project' project.id %}">Редактировать проект</a>
                {% for task in project.tasks.all %}
                    <ul>
                        <li><h4>Название задачи {{ task.name_task }}</h4></li>
                    </ul>
                    <ul>
                        <ol>
                            <li><h4>Опмсание задачи {{ task.description }}</h4></li>
                            <li><h4>Приоритет {{ task.get_priority_display }}</h4></li>
                            <li><h4>Статус {{ task.get_status_display }}</h4></li>
                            <li><h4>исполнитель {{ task.executor }}</h4></li>
                            <li><h4>Срок выполнения {{ task.due_date }}</h4></li>           
                        </ol>
                        <a href = "{% url 'edit_task' task.id %}">Редактировать задачу</a>
                    </ul>
                {% endfor %}
                </ul>
            </div> 
        {% endfor %}  
    {% else %}
        <p>У вас нет назначанных задач!!!</p>
    {% endif %}

{% endblock %}