{% extends 'TM/base.html' %}

{% block title %}Document main{% endblock %}

{% block content %}
    </style>
    <div class="form-container">
        <form method='post'>
            {% csrf_token %}
            <h2>Создание подтаски</h2>
            
            <div class="form-group">
                <div class="form-field">
                    <label for='{{ form.name_subtask.id_for_label }}'>{{ form.name_subtask.label }}</label>
                    {{ form.name_subtask }}
                    {% if form.name_subtask.errors %}
                        <div class="error-message">
                            {{ form.name_subtask.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ form.description.id_for_label }}'>{{ form.description.label }}</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="error-message">
                            {{ form.description.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <button type='submit' class="submit-button">Сохранить</button>
        </form>
    </div>
{% endblock %}