{% extends 'TM/base.html' %}

{% block title %}Document main{% endblock %}

{% block content %}
    <form method = 'post'>
        {% csrf_token %}
        <div>
            <p>dfguihdfsuighsdfuioghiuserfg</p>
            <div>
                <label for = '{{ form.name_sub.id_for_label }}'>{{ form.name_sub.label }}</label>
                {{ form.name_sub }}
                {% if form.name_sub.errors %}
                    <div>
                        {{ form.name_sub.errors.as_text }}
                    </div>
                {% endif %}
            </div>

            <div>
                <label for = '{{ form.description.id_for_label }}'>{{ form.description.label }}</label>
                {{ form.description }}
                {% if form.description.errors %}
                    <div>
                        {{ form.description.errors.as_text }}
                    </div>
                {% endif %}
            </div>

        </div>
        <button type = 'submit'>Сохранить</button>
    </form>

    {% if messages %}
        <ul class = 'messages'>
            {% for message in messages %}
                <li {% if message.tags %} class = '{{ message.tags }}' {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}