{% extends 'TM/base.html' %}

{% block title %}Document main{% endblock %}


{% block content %}
 </style>
    <div class="form-container">
        <form method='post'>
            {% csrf_token %}
            <h2>Создание задачи</h2>
            
            <div class="form-group">
                <div class="form-field">
                    <label for='{{ form.name_task.id_for_label }}'>{{ form.name_task.label }}</label>
                    {{ form.name_task }}
                    {% if form.name_task.errors %}
                        <div class="error-message">
                            {{ form.name_task.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ form.description.id_for_label }}'>{{ form.description.label }}</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="error-message">
                            {{ form.description.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ form.priority.id_for_label }}'>{{ form.priority.label }}</label>
                    {{ form.priority }}
                    {% if form.priority.errors %}
                        <div class="error-message">
                            {{ form.priority.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ form.due_date.id_for_label }}'>{{ form.due_date.label }}</label>
                    {{ form.due_date }}
                    {% if form.due_date.errors %}
                        <div class="error-message">
                            {{ form.due_date.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <button type='submit' class="submit-button">Сохранить</button>
        </form>
    </div>
{% endblock %}