{% extends 'TM/base.html' %}

{% block title %}Document main{% endblock %}

{% block content %}
    <div class="form-container">
        {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                    <li {% if message.tags %} class='{{ message.tags }}' {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method='post'>
            {% csrf_token %}
            <h2>Создание подписки</h2>
            
            <div class="form-group">
                <div class="form-field">
                    <label for='{{ form.name_sub.id_for_label }}'>{{ form.name_sub.label }}</label>
                    {{ form.name_sub }}
                    {% if form.name_sub.errors %}
                        <div class="error-message">
                            {{ form.name_sub.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label for='{{ form.description.id_for_label }}'>{{ form.description.label }}</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="error-message">
                            {{ form.description.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <button type='submit' class="submit-button">Сохранить</button>
        </form>
    </div>
{% endblock %}