<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Регистрация</h1>
    <div>
        <form method="post">
            {% csrf_token %}
                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>