{% extends 'TM/base.html' %}

{% block title %}Document main{% endblock %}

{% block content %}
    <form method="get">
        {% csrf_token %}
        <div class="filter-container">
            
                <div class="filter-group">
                    <label for="{{ filter.form.name_task.id_for_label }}">{{ filter.form.name_task.label }}</label>
                    {{ filter.form.name_task }}
                    {% if filter.form.name_task.errors %}
                        <div class="notification">
                            {{ filter.form.name_task.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>

                <div class="filter-group">
                    <label for="{{ filter.form.priority.id_for_label }}">{{ filter.form.priority.label }}</label>
                    {{ filter.form.priority }}
                    {% if filter.form.priority.errors %}
                        <div class="notification">
                            {{ filter.form.priority.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>

                <div class="filter-group">
                    <label for="{{ filter.form.status.id_for_label }}">{{ filter.form.status.label }}</label>
                    {{ filter.form.status }}
                    {% if filter.form.status.errors %}
                        <div class="notification">
                            {{ filter.form.status.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>

                <div class="filter-group">
                    <label for="{{ filter.form.due_date.id_for_label }}">{{ filter.form.due_date.label }}</label>
                    {{ filter.form.due_date }}
                    {% if filter.form.due_date.errors %}
                        <div class="notification">
                            {{ filter.form.due_date.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
                <div class="button-container">
                    <button type="submit" class="search-button">Найти</button>
                    <a href="{% url 'tasksIDo' %}"><button type="button">Сбросить</button></a>
                </div>
        </div>
    </form>

    {% if check == True %} 
        {% if my_task %}          
            {% for task in my_task %} 
                <div class="task">
                    <h3>Задача относится к проекту {{ task.project }} </h3>
                    <p>Описание проекта {{ task.project.description }} </p>
                    <div class="task">
                        <h4>Название задачи {{ task.name_task }}</h4>
                        <p>Описание задачи {{ task.description }}</p>
                        <p>Приоритет {{ task.get_priority_display }}</p>
                        <p>Статус {{ task.get_status_display }}</p>
                        <p>Срок выполнения {{ task.due_date }}</p>
                        <div class="project-actions">
                            <a class="custom-link" href="{% url 'new_subtask' task.id %}">Создать новую подзадачу</a>
                        </div>
                        {% for subtask in task.subtask.all %}                      
                            <div class="subtask">
                                <h4>Название подзадачи: {{ subtask.name_sub }}</h4>
                                <p>Описание подзадачи: {{ subtask.description }}</p>
                                <p>Статус подзадачи: {{ subtask.status }}</p>
                                <div class="project-actions">
                                    <a class="custom-link" href="{% url 'delete_subtask' subtask.id %}" >Удалить подзадачу</a>
                                    <a class="custom-link" href="{% url 'edit_subtask' subtask.id %}">Редактировать подзадачу</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>  
                    <div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">  
                            <div>
                                <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
                                {{ form.file }}
                                {% if form.file.errors %}
                                    <div class="notification">
                                        {{ form.file.errors.as_text }}
                                    </div>
                                {% endif %}
                            </div>
                            <button type="submit" class="button">Отправить</button>
                        </form>
                    </div>                  
                </div>         
            {% endfor %}  
        {% else %}
            <p class="notification">Поиск ничего не выдал</p>
        {% endif %}
    {% else %}
        <p class="notification">У вас нет назначенных задач!!!</p>
    {% endif %}
{% endblock %}
