body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
nav {
    background: #35424a;
    color: #ffffff;
    padding: 15px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.content {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-left li {
    display: inline;
    margin-right: 20px;
}

.nav-left li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-left li a:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right span {
    margin-right: 10px;
    color: #ffffff;
}
.nav-right a {
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
}

.main-container {
    display: flex;
    height: 86vh; /* или другое значение в зависимости от ваших предпочтений */
}

.projects-list {
    width: 250px; /* Ширина блока с проектами */
    background: #35424a; /* Цвет фона для лучшего контраста */
    padding: 10px;
    border-right: 1px solid #ccc; /* Разделительная линия */            
}
.projects-list a {
    color: #ffffff;
    text-decoration: none;
}

.chat-area {
    flex: 1; /* Занимает все оставшееся пространство */
    padding-left: 10px;
    display: flex;
    flex-direction: column; /* Чтобы элементы внутри выстраивались вертикально */
}

.chat-messages {
    flex: 3; /* Занимает всё доступное пространство для сообщений */
    overflow-y: auto; /* Добавляет прокрутку по вертикали */
    margin-bottom: 10px; /* Отступ снизу для формы */
    border: 1px solid #ccc; /* Рамка вокруг области чата */
    padding: 10px;
}

.comment {
    border-bottom: 1px solid #ddd; /* Разделитель между комментариями */
    padding: 5px 0; /* Отступы к комментариям */
}

.comment-author-and-date {
    display: flex;
    align-items: center;
}

.comment-text {
    padding-left: 10px;
}

.chat-header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    background: #35424a;
    color: #ffffff;
}

.form-block {
    flex: 1;
    padding: 10px;
}

.form-block-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.p {
    color: #ffffff;
}