body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}
nav {
    background: #35424a;
    color: #ffffff;
    padding: 15px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.content {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-left li {
    display: inline;
    margin-right: 20px;
}

.nav-left li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-left li a:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right span {
    margin-right: 10px;
    color: #ffffff;
}
.nav-right a {
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
}

.main-container {
    display: flex;
    height: 86vh; /* или другое значение в зависимости от ваших предпочтений */
}

.projects-list {
    width: 250px; /* Ширина блока с проектами */
    background: #35424a; /* Цвет фона для лучшего контраста */
    padding: 10px;
    border-right: 1px solid #ccc; /* Разделительная линия */            
}
.projects-list a {
    color: #ffffff;
    text-decoration: none;
}

.chat-area {
    flex: 1; /* Занимает все оставшееся пространство */
    padding-left: 10px;
    display: flex;
    flex-direction: column; /* Чтобы элементы внутри выстраивались вертикально */
}

.chat-messages {
    flex: 3; /* Занимает всё доступное пространство для сообщений */
    overflow-y: auto; /* Добавляет прокрутку по вертикали */
    margin-bottom: 10px; /* Отступ снизу для формы */
    border: 1px solid #ccc; /* Рамка вокруг области чата */
    padding: 10px;
}

.comment {
    border-bottom: 1px solid #ddd; /* Разделитель между комментариями */
    padding: 5px 0; /* Отступы к комментариям */
}

.comment-author-and-date {
    display: flex;
    align-items: center;
}

.comment-text {
    padding-left: 10px;
}

.chat-header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    background: #35424a;
    color: #ffffff;
}

.form-block {
    flex: 1;
    padding: 10px;
}

.form-block-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.p {
    color: #ffffff;
}


 /*Фильтр */

 .filter-container {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: center; /* Центрирование по горизонтали */
    gap: 15px; /* Отступ между элементами */
}

.filter-container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.filter-group {
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: flex-start; /* Выравнивание по левому краю */
    gap: 15px;
}

.filter-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #4A90E2; /* Цвет меток */
}

.filter-group input,
.filter-group select {
    width: 80%; /* Автоматическая ширина */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
    min-width: 200px; /* Минимальная ширина для полей */
}

.filter-group input:focus,
.filter-group select:focus {
    border-color: #4A90E2;
    outline: none;
}



button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
}

button:hover {
        background-color: #357ABD;
    }

.notification {
    color: #e74c3c;
    text-align: center; 
    margin: 10px 0; 
}

.task {
    background-color: #e7f3fe;
    border-left: 5px solid #4A90E2;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.3s;
    cursor: pointer;
}

.task:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #e9efff; /* Изменение цвета фона */
}


.subtask {
    background-color: #ddf4fe;
    border-left: 5px solid #85C1E9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
}

.subtask:hover {
    transform: translateY(-5px);
    background-color: #e7f2ff; /* Изменение цвета фона */
}

a {
    color: #4A90E2; 
    text-decoration: none;
    font-weight: bold; 
}

a:hover {
    text-decoration: underline; 
}