body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin-right: 20px;
    
    
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav a:hover {
    background-color: #4CAF50;
    color: #ccc;
}

nav .active {
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #4CAF50;
}

.register-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reset-password-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.messages-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

.messages .success {
    background-color: #4CAF50; /* Зелёный для успешных сообщений */
}

.messages .error {
    background-color: #f44336; /* Красный для сообщений об ошибках */
}

.messages .warning {
    background-color: #ff9800; /* Оранжевый для предупреждений */
}

.messages .info {
    background-color: #2196F3; /* Синий для информационных сообщений */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0px auto;
}

.form-group {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: #f00;
    font-size: 12px;
    margin-bottom: 10px;
}

.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Белый фон для формы */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}