{% extends 'TM/base.html' %}

{% block title %}Удаление подзадачи{% endblock %}

{% block content %}
    <div class="confirmation-container">
        <h2>Удалить подзадачу "{{ subtask.name_sub }}"?</h2>
        <p>Вы уверены, что хотите удалить подзадачу "{{ subtask.name_sub }}"? Это действие необратимо!</p>
        
        <form method="post">
            {% csrf_token %}
            <div class="confirmation-buttons">
                <button type="submit" class="delete-button">Да, удалить</button>
                <a href="{% url 'tasksIDo' %}" class="cancel-button">Нет, отменить</a>
            </div>
        </form>
    </div>
{% endblock %}